replicaCount: {{ .Values.web.replicas }}
podDisruptionBudget:
  enabled: {{ .Values.web.pdb }}
networkPolicy:
  enabled: {{ .Values.web.networkPolicy }}
extraEnv:
  API_URL: "http://backend-api-api:3000"
  ENVIRONMENT: {{ .Values.environment | quote }}
